body {
  color: beige;
  background-color: #111;
  font-family: "Arial", sans-serif;
  margin: 0px 100px 0px 100px;
}

h1 {
  text-align: center;
  color: aquamarine;
}

h2 {
  text-align: center;
  color: lavender;
  border-bottom: dashed #ddd 1px;
}

p {
  vertical-align: middle;
  max-width: 850px;
}

img {
  width: 500px;
  height: auto;
}
