body {
  color: beige;
  background-color: #111;
  font-family: "Arial", sans-serif;
  margin: 0px 5.25em 0px 5.25em;
}

h1 {
  text-align: center;
  color: aquamarine;
  font-size: 2.2em
}

h2 {
  text-align: center;
  color: lavender;
  border-bottom: dashed #ddd 0.05em;
  font-size: 1.7em
}

h3 {
  font-size: 1.6em;
}

p {
  vertical-align: middle;
  max-width: 850px;
  font-size: 1.2em;
}

img {
  width: 20em;
  height: auto;
}

.grid-container {
  text-align: center;
  display: grid;
  gap: 0.5em;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
